/*
 *
 *
 * Copyright 2009 Sun Microsystems, Inc.  All rights reserved.
 * Use is subject to license terms.
 *
 */
@import url("../../yui-reset-font-grids_base-min.css");

/* Common Styles */
a {
        text-decoration: none;
        color: #2888C5;
}
a:hover { text-decoration: underline; }
body {
        color: #747474;
}
a.p5i {
        background: transparent url(../../p5i-link.png) scroll no-repeat right center;
        padding: 2px 16px 2px 0px;
}
div.page-container {
        margin: auto;
        width: 730px;
}
#custom-doc {
        margin: auto;
        min-width: 730px;
        text-align: left;
        width: 100%;
}

/* Header Styles */
div#hd {
        margin-top: 8px;
}
div.global-nav {
        display: block;
        width: 100%;
}
div.global-nav div.langsel {
        display: block;
        float: right;
        font-size: 85%;
        margin: 4px 0;
}
div.masthead {
        background: transparent url(http://www.opensolaris.com/images/opensolaris_logo_trans.png) no-repeat scroll left bottom;
        clear: both;
        display: block;
        height: 60px;
}
div.masthead div.content {
        height: 100%;
}
div.masthead a#logo {
        display: block;
        float: left;
        width: 181px;
        height: 51px;
}
div.masthead div.menu {
        height: 100%;
        margin: 0;
        text-align: right;
}
div.masthead div.menu ul {
        display: inline;
        margin-right: 0;
}
div.masthead div.menu ul li {
        display: inline;
        height: 100%;
        list-style: none;
}
div.masthead div.menu ul li a {
        display: inline-block;
        font-weight: bold;
        list-style: none;
        vertical-align: bottom;
        padding-left: 20px;
        margin-top: 45px;
}
div.header-bar {
        background: transparent url(http://www.opensolaris.com/images/header_gradientpart.png) repeat-x scroll;
        display: block;
        height: 15px;
}
div.breadcrumbs {
        clear: both;
        display: block;
        font-size: 85%;
        margin: 10px 30px;
}
div.page-title {
        clear: both;
        color: #5382A1;
        display: block;
        font-weight: bold;
}

/* Body Styles */
div#bd {
        margin: auto;
        width: 730px;
}
.section-title {
        color: #3F3F3F;
        border-bottom: 1px solid #D2D5D7;
}
ul.tips li {
        margin-bottom: 10px;
}
table.stats a#catalog-feed {
        background: transparent url(http://www.opensolaris.com/images/feed-icon-16x16.gif) no-repeat;
        display: block;
        float: right;
        height: 16px;
        width: 16px;
}
table.stats {
        width: 100%;
}
table.stats tbody {
        border: 1px solid #DDDDDD;
}
table.stats tr.first {
        background-color: #EEEEEE;
}
table.stats th {
        color: #3F3F3F;
}
table.stats th.last {
        border: 0;
        text-align: left;
}
table.stats td { border: 0; }
table.stats td.label {
        text-align: right;
        width: 90%;
}
table.stats td.value { text-align: center; }

/* Footer Styles */
div#ft {
        color: #B9B9B9;
        font-size: 77%;
        margin: 20px 0 0 0;
}
div#ft .page-container {
        padding-bottom: 30px;
}
div#ft .footer-line {
        border-top: 1px solid #D2D5D7;
}
div#ft .logo {
        background: transparent url(http://opensolaris.org/oracle/logo_oracle_footer.gif) no-repeat scroll;
        display: inline;
        float: left;
        clear: both;
        height: 35px;
        padding-right: 24px;
        width: 100px;
}
div#ft .notice {
        display: inline;
        float: left;
        padding-top: 14px;
}
div#ft .footer-nav {
        display: inline;
        float: right;
        padding-top: 14px;
        vertical-align: middle;
}

/* Catalog and Search Styles */
form.advanced-search input#search-field {
        width: 99%;
}
form.search table {
        width: 100%;
        border: 2px solid silver;
}
form.search table td {
        border: none;
}
form.search a {
        font-size: 77%; /* 10px */
        vertical-align: top;
}
form.search span.tip {
        color: silver;
        text-decoration: underline;
}
form.search table td.label {
        padding-left: 2em;
        width: 30%;
}
form.search table td.submit {
        text-align: right;
}
div.results { margin-top: 20px; }
div.results table {
        border-color: transparent #D2D5D7 #D2D5D7;
        border-style: none solid solid;
        border-width: 0 1px 1px;
        width: 100%;
}
div.results table td {
        border: 0;
}
div.results table th {
        color: #3F3F3F;
        background-color: #EEEEEE;
        border-color: #D2D5D7;
        border-left: 0;
        border-right: 0;
        text-align: left;
}
div.results table tr.odd {
        background-color: #EEEEEE;
}
div.results table tr.last {
        background-color: #D2D5D7;
}
div.results table tr.last td.last {
        text-align: right;
}
div.footer-bar {
        background: transparent url(http://www.opensolaris.com/images/footer_gradientpart_new.png) repeat-x scroll;
        display: block;
        height: 30px;
}
